{% load staticfiles %}
<!-- Begin Navbar -->
<div id="nav">
  <div class="navbar navbar navbar-fixed-top" data-spy="affix" data-offset-top="100">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'img/drchrono_name.png'%}"  height="30" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'home' %}">Home</a>
            </li>
{#            <li><a href="{%  %}">About</a>#}
{#            </li>#}
{#            <li><a href="#contact">Contact</a>#}
{#            </li>#}
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.contatiner -->
</div>
</div>
