{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    <h3><strong>Welcome to Hello world API </strong></h3>
    {% include 'v1_helloworld_logs.html' %}
    {% include 'v1_logs.html' %}


    <div class="col-md-4 col-sm-12">
        <table class = "table">
            <caption><strong>Log statistics for /v1/hello-world</strong></caption>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Number of Requests per minute</th>
                </tr>
            </thead>
            <tbody>
                {% for ip, freq_list in hw_freq.items %}
                    <tr>
                        <td>{{ ip }}</td>
                        <td>{{ freq_list }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <table class = "table">
            <caption><strong>Logs Statistics for /v1/hello-world/logs/</strong></caption>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Number of Requests per minute</th>
                </tr>
            </thead>
            <tbody>
                {% for ip, freq_list in hwl_freq.items %}

                    <tr>
                        <td>{{ ip }}</td>

                        <td>{{ freq_list}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <table class = "table">
            <caption><strong>Log Statistics for /v1/logs/</strong></caption>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Number of Requests per minute</th>
                </tr>
            </thead>
            <tbody>
                {% for ip, freq_list in l_freq.items %}
                    <tr>
                        <td>{{ ip}}</td>
                        <td>{{ freq_list }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}