<div class="col-md-6">
    <h3>Logs for /v1/hello-world</h3>
    <table class = "table">
            <caption>Logs for /v1/hello-world/logs/</caption>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>TimeStamp</th>
                </tr>
            </thead>
            <tbody>
                {% for each in hw_logs.logs %}
                    <tr>
                        <td>{{ each.ip }}</td>
                        <td>{{ each.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>