* {
    padding: 0px;
    margin: 0px;
    color: black;
}

hr {
    margin: 10px;
}

a:link {
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
}

.label, .glyphicon {
    margin-right: 5px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    min-width: 320px;
}

.header{
    height: 100px;
    width: auto;
}


.footer {
    text-align: center;
    padding: 30px 30px;
    clear: both;
}



.navbar {
 background-color: lightgreen;
}


